/* .btn{
    color: white;
    background-color: #0F0E0E;
    margin-top: 280px;
} */
.btn-primary{
    background-color: black;
}
.btn-primary:hover{
    background-color: rgb(92, 92, 92);
}
.btn-success{
    background-color: gray;
    padding: 10px;
}
.btn-info{
    margin: 50px;
    margin-left: 0px;
    padding: 10px;
}
