footer{
    background-color: black;
    width: 100%;
    margin-left: 0px;
}

a {
    color: white;
}
a:hover {
    color: grey;
}

h5 {
    color: white;
    font-family: Abhaya Libre ExtraBold;
}

.footerIcon {
    height: 25px;
}

.bello{
    color: white;
    font-family: 'Ephesis', cursive;
    font-size: 1.5rem;
}

.copyRight {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
}

.year {
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
    font-size: 1.5rem;
    color: white;
}

.footerNav li {
    margin-top: 12px;
}
.footerIcon {
    margin-right: 6px;
}