.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 3.4rem;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: rgba(0,0,0,.7);
}

.nav-link img {
    height: 47px;
    width: 53px;
}

.hero {
    height: 251px;
    background-image: url(../img/herogif.gif);
    width: 100%;
}

.heroText {
    color: white;
    font-size: 2.5rem;
    width: 415px;
    margin-right: 291px;
    display: flex;
    justify-content: flex-end;
}

.heroText p {
    display: flex;
    justify-content: flex-end;
    padding-top: 186px;
}

.heroButton {
    font-size: 2rem;
    background-color: #484848;
    height: 62px;
    width: 280px;
}

.text p{
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.first {
    padding-top: 24px;
}

.hairPic{
    background-image: url(../img/hair2.png);
    width: 100%;
    height: 425px;
    background-size: cover;
}

.hairPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
     url(../img/hair2.png);
    background-size: cover;
}

.makeupPic{
    background-image: url(../img/makeup1.png);
    width: 100%;
    height: 425px;
    background-size: cover;
}

.makeupPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(../img/makeup1.png);
    background-size: cover;
}

.skinPic{
    background-image: url(../img/skin1.png);
    width: 100%;
    height: 425px;
    background-size: cover;
}

.skinPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(../img/skin1.png);
    background-size: cover;
}

.nailsPic{
    background-image: url(../img/nails1.png);
    width: 100%;
    height: 425px;
    background-size: cover;
}

.nailsPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(../img/nails1.png);
    background-size: cover;
}

.categories {
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 95px;
}

.cateImg {
    margin-bottom: 20px;
}

.cateText {
    color: white;
    margin-top: auto;
}

.cateText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 25px;
}

.cateText p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
}

.advert {
    margin: auto;
    background-color: #0F0E0E;
    height: 686px;
    width: 1600px;
    box-shadow: 2px 6px 29px 13px #00000073;
}

.adText {
    color: white;
    padding-left: 92px;
    padding-top: 177px;
    width: 693px;
}

.adText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 3rem;
}

hr {
    border-top: 1px solid rgb(255, 255, 255);
    width: 517px;
}

.adText p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding-top: 43px;
}

.lessons {
    background-color: black;
    height: 493px;
    width: 100%;
}

.lessons h1{
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
    padding-top: 27px;
}

.lessonsText {
    justify-content: center;
}

.name p{
    justify-content: flex-end;
    font-style: italic;
}

.adPic{
    background-image: url(../img/Group\ 28.png);
    height: 535px;
    width: 632px;
    background-size: cover;
    margin-top: 77px;
    margin-left: 90px;
}

.join {
    padding-top: 98px;
    width: 557px;
    padding-bottom: 88px;
}

.join h1{
    font-weight: 700;
}
.join p{
    font-family: 'Inter', sans-serif;
    padding-top: 26px;
    font-size: 1.25rem;
    color: black;
}

.join .btn {
    margin-top: 26px;
}

.videos {
    display: flex;
    justify-content: space-around;
    padding-left: 187px;
    padding-right: 187px;
}

.lessonsText {
    padding-bottom: 23px;
}

.colorwheel {
    background-image: url("../img/colorwheel.png");
    height: 320px;
    width: 399px;
    background-size: cover;
}

.colorwheel:hover {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url("../img/colorwheel.png");
    height: 320px;
    width: 399px;
    background-size: cover;
}

.washing {
    background-image: url("../img/washing2.png");
    height: 320px;
    width: 399px;
    background-size: cover;
}

.washing:hover {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url("../img/washing2.png");
    height: 320px;
    width: 399px;
    background-size: cover;
}

.serum {
    background-image: url("../img/serum2.png");
    height: 320px;
    width: 399px;
    background-size: cover;
}

.serum:hover {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
    url("../img/serum2.png");
    height: 320px;
    width: 399px;
    background-size: cover;
}

.events h1 {
    padding-top: 71px;
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.cardWrapper {
    justify-content: space-evenly;
}

.card {
    background-color: black;
    color: white;
    margin: 20px;
}

.narsImg {
    background-image: url("../img/nars.png");
    height: 366px;
    width: 459px;
    background-size: cover;
}

.card img:hover {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)),
}

.card-body h5 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0px;
}

.card-body h4 {
    font-size:1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.eventsEnd {
    padding-bottom: 70px;
}

.bg-black {
    background-color: black;
}

.quoteContainer {
    height: 686px;
    width: 100%;
    background-color: black;
}

.quote {
    padding-top: 184px;
    height: 307px;
    width: 982px;
    font-family: 'Abhaya Libre', serif;
}

.quote h2{
    color: white;
    
    font-weight: 600;
    font-size: 4rem;
}

.quote p {
    color: white;
    font-size: 2.4rem;
}

.hairTools {
    width: 100%;
}