.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 3.4rem;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 21px;
    margin-right: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: rgba(0,0,0,.7);
}

.hero {
    height: 564px;
    background-color: black;
}

.heroText {
    color: white;
    font-size: 2.5rem;
    width: 415px;
    margin-right: 291px;
    display: flex;
    justify-content: flex-end;
}

.heroText p {
    display: flex;
    justify-content: flex-end;
    padding-top: 186px;
}

.heroButton {
    font-size: 2rem;
    background-color: #484848;
    height: 62px;
    width: 280px;
}
