.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 3.4rem;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: rgba(0,0,0,.7);
}

.hero {
    height: 251px;
    background-image: url(../img/herogif.gif);
}

.heroText {
    color: white;
    font-size: 2.5rem;
    width: 415px;
    margin-right: 291px;
    display: flex;
    justify-content: flex-end;
}

.heroText p {
    display: flex;
    justify-content: flex-end;
    padding-top: 186px;
}

.heroButton {
    font-size: 2rem;
    background-color: #484848;
    height: 62px;
    width: 280px;
}

.text p{
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.first {
    padding-top: 24px;
}

.hairPic{
    background-image: url(../img/hair2.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.hairPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
     url(../img/hair2.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.makeupPic{
    background-image: url(../img/makeup1.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.makeupPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(../img/makeup1.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.skinPic{
    background-image: url(../img/skin1.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.skinPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(../img/skin1.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.nailsPic{
    background-image: url(../img/nails1.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.nailsPic:hover{
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(../img/nails1.png);
    width: 253px;
    height: 425px;
    background-size: cover;
}

.categories {
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 95px;
}

.cateText {
    color: white;
    margin-top: 280px;
}

.cateText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 25px;
}

.cateText p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
}

.advert {
    margin: auto;
    background-color: #0F0E0E;
    height: 500px;
    width: 1600px;
    box-shadow: 2px 6px 29px 13px #00000073;
}

.adText {
    color: white;
    padding-left: 92px;
    padding-top: 177px;
    width: 693px;
}

.adText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 3rem;
}

hr {
    border-top: 1px solid rgb(255, 255, 255);
    width: 517px;
}

.adText p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.name p{
    justify-content: flex-end;
    font-style: italic;
}

.adPic{
    background-image: url(../img/Group\ 28.png);
    height: 535px;
    width: 632px;
    background-size: cover;
}
