.whiteColor{
    color: white;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100%;
}

hr{
    border-top: 1px solid white;
    width: 300px;
}
.emailYes{
    font-size: x-large;
}


.cateText p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
}

.advert {
    margin: auto;
    background-color: #0F0E0E;
    height: 500px;
    width: 1600px;
    box-shadow: 2px 6px 29px 13px #00000073;
}

.adText {
    color: white;
    padding-left: 92px;
    padding-top: 177px;
    width: 693px;
}

.adText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 3rem;
}

hr {
    border-top: 1px solid rgb(255, 255, 255);
    width: 517px;
}

.adText p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.name p{
    justify-content: flex-end;
    font-style: italic;
}

.adPic{
    background-image: url(../img/Group\ 28.png);
    height: 535px;
    width: 632px;
    background-size: cover;
}


.cateText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 25px;
}

.cateText p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}



.container-fluid  {
    background-color: black;
    display: flex;
    padding: 1%;
}

.container {
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.container2 {
    padding: 2%;
    text-align: center;
    margin: auto;
}

.row {
    display: flex;
}

.img-fluid {
    padding: .1%;
}

h1 {
    font-family: 'Abhaya Libre', serif;
    color: white;
}

h2 {
    font-family: 'Inter', sans-serif;
}

h5 {
    font-family: 'Inter', sans-serif;
    color: white;
}

p {
    font-family: 'Inter', sans-serif;
    color: white;
}