.container-fluid  {
    background-color: black;
    display: flex;
    padding: 1%;
}

.container {
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.container2 {
    padding: 2%;
    text-align: center;
    margin: auto;
}

.row {
    display: flex;
}

.img-fluid {
    padding: .1%;
}

h1 {
    font-family: 'Abhaya Libre', serif;
    color: white;
}

h2 {
    font-family: 'Inter', sans-serif;
}

h5 {
    font-family: 'Inter', sans-serif;
    color: white;
}

p {
    font-family: 'Inter', sans-serif;
    color: white;
}