.navbar-brand {
    font-family: 'Ephesis', cursive;
    font-size: 3.4rem;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: rgba(0,0,0,.7);
}

footer{
    background-color: black;
    position:absolute;
    width: 100%;
    bottom: 0;
}
.hero {
    height: 251px;
    background-image: url(../img/herogif.gif);
}
body{
    background-image: url(../img/Rectangle\ 16.png);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    height: 100vh;
}
.whiteColor{
    color: white;
}
.btn{
    color: white;
    background-color: #0F0E0E;
    margin-top: 280px;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100%;
}

hr{
    border-top: 1px solid white;
}
.emailYes{
    font-size: x-large;
}


.cateText p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
}

.advert {
    margin: auto;
    background-color: #0F0E0E;
    height: 500px;
    width: 1600px;
    box-shadow: 2px 6px 29px 13px #00000073;
}

.adText {
    color: white;
    padding-left: 92px;
    padding-top: 177px;
    width: 693px;
}

.adText h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 3rem;
}

.adText p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.name p{
    justify-content: flex-end;
    font-style: italic;
}

.adPic{
    background-image: url(../img/Group\ 28.png);
    height: 535px;
    width: 632px;
    background-size: cover;
}

