
.signUp{
    background-image: url(../img/Rectangle\ 16.png);
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    height: 80vh;
}
.whiteColor{
    color: white;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100%;
}
hr{
    border-top: 1px solid white;
}
.emailYes{
    font-size: x-large;
}
.btn-secondary{
    background-color:#4267B2;
    padding: 10px;
    text-align: center;
}
.btn-success{
    background-color: gray;
    padding: 10px;
    text-align: center;
}
.btn-info{
    margin: 25px;
    margin-left: 0px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}
.btn-info img{
padding-right: 25px;
}
.btn-secondary img{
    padding-right: 10px;
 }
 .professional{
     font-size: 3rem;
 }
 .sign{
    font-size: 1.5rem;
 }
 .beauty{
     margin-top: 150px;
 }